$color-text: #13182C;
$color-cta: #2E66E5;
$color-bg: #FFFFFF;

$color-text-secondary: #5C667E;
$color-border: #BDC5D5;

$color-bg-nav: #232940;
$color-bg-cta-hover: #232940;
$color-bg-page: #F7F8F9;
$color-bg-cta: #F7F8F9;

$color-success: #158463;
$color-error: #C94515;

// padding: mobile, tablet, desktop
$padding-m: 1rem;
$padding-t: 1.5rem;
$padding-d: 2.5rem;

// margin: mobile, tablet, desktop
$margin-m: 1rem;
$margin-t: 2rem;
$margin-d: auto;
$max-width: 63.75rem;

// breakpoint: 768px, 1280px
$tablet: 48rem;
$desktop: 80rem;
