@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.table {
  &__header {
    position: relative;
  }

  &__sort {
    position: absolute;
  }

  &__actions {
    text-align: right;
  }
  &__cta {
    flex-basis: 100%;
    @include flex;
    @include tablet {
      display: table-cell;
    }
    justify-content: space-between;
    text-align: right;
  }

  &__icon {
    &:first-of-type {
      margin-right: 1rem;
    }

    cursor: pointer;
  }
}
