@use "styles/partials/global" as *;
@use "styles/partials/mixins" as *;
@use "styles/partials/variables" as *;
.app {
  position: relative;
  min-height: 100vh;
  @include flex-cross-center(column);
  &__main {
    background-color: $color-bg;
    top: 8.5rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: auto;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 4px;
    position: absolute;
    left: 4.5%;
    right: 4.5%;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
  }

  &__empty {
    flex-grow: 1;
  }

  &__footer {
    margin-bottom: 1rem;
  }
}
